.o_PopoverView_channelInvitationForm{
    max-height: unset !important;

    .nav.nav-tabs{
        li a{
            padding: 15px;
            font-size: 16px;
            color: #929292;
            font-weight: 600;
            background-color: #eaeaea;
        }
        li a.active{
            background-color: #fff;
            color: #000;
        }
    }
    .invitaion_names{
        width: Min(95vw, 400px);
        overflow-y: auto;
        max-height: 185px;
    }

}
.messageList_openeducat_live{
    height: 84vh;
}

.o_CallView.o-isMinimized {
    height: 100%;
    min-height: 100%;
}
.o_CallView {
    min-height: 100%;
    background-color: #1a1919;
}
.o_CallActionList_button {
    color: white !important;
    background-color: #343a40 !important;
}
.o_CallActionList_callToggle.o-isActive {
    background-color: #dc3545 !important;
}
