.certification-name{
    position: relative;
    top:280px;                                          
    vertical-align: middle;
    text-align: center; 
    /* border: 1px solid #000; */
    max-width: 90%;
    max-height:105px;
    /* width : 200px; */
    height: 105px;
    margin-left: 40px;
    
}
.certificate-text{
    font-size: 38pt;
    color: #132764;
    font-weight: 600;
    line-height: 1;
}                  

.user-name{
    position:relative;
    top: 325px;                         
    vertical-align: middle;
    text-align: center; 
    /* border: 1px solid #000; */
    max-width: 90%;
    max-height:100%;
    /* width: 200px; */
    height: 100px;
    margin-left: 40px;
}     
.use-name-text{
    font-size: 30pt;
    color: #132764;
    font-weight: 800;
    line-height: 1;
} 
.certification-date{
    position:absolute;
    top: 1050px;
    left: 82%;
    font-size:12pt;
    color: #132764;
    display: inline;
}  

.certificate-firm{
    position:absolute;
    top: 850px;
    left: 55%;                   
  
}  
.certificate-admin{
    position:absolute;
    top: 1000px;
    margin-left: 54%;
    color: #f78c02;
    font-weight: 700;
    /* border: 1px solid #000; */
    width: 195px;
    text-align: center;
}  

.certificate-title{
    position:absolute;
    top: 220px;
    margin-left:10%;
    /* border: 1px solid #000; */
    /* width : 250px; */
    height: 80px;
}
.certificate-title-text{
    font-size: 50pt;
    color: #132764;
    font-weight: 900;
    line-height: 1;
}   

.certificate-isep{
    position:absolute;
    top: 289px;
    margin-left:10%;
    /* border: 1px solid #000; */
    width: 300px;
    height: auto;
}  

.certificate-isep-text{
    font-size: 20pt;
    color: #FE6807;
    font-weight: 800;
    line-height: 1;
    font-weight: 700;
}
/*Contenido de certificado */
.certifcate-body{
    position:relative;
    top: 700px;                         
    /* vertical-align: middle; */
    text-align: auto; 
    /* border: 1px solid #000; */
    max-width: 87%;
    max-height:100%;
    /* width: 200px; */
    height: auto;
    margin-left: 57px;   
}

.certifcate-body-text{    
    text-justify: auto;   
}

.certificate-description{
    position:absolute;
    top: 400px;
    margin-left:10%;
    /* border: 1px solid #000; */
    width: 300px;
    height: auto;
}   
/* frace motivacinal */
.certificate-motivational{
    position: relative;
    top: 685px;
    /* border: 1px solid #000; */
    max-width: 87%;
    max-height:105px;
    /* width : 200px; */
    height: auto;
    margin-left: 57px;
    color: #FE6807;
    font-weight: 600;    
    
}
/* titulos de firmas */
.certificate-direction{
    position:absolute;
    top: 1025px;
    left: 23%;
    font-size:12pt;
    color: #132764;
    display: inline;
}
.certifcate-firm{
    position:absolute;
    top: 1025px;
    margin-left: 58%;
    font-size:12pt;
    color: #132764;
    display: inline;
    /* border: 1px solid #000; */
}