@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body {
       font-family: verdana;
       font-size: 1.2em;
       color: #666;
       background-color: #FFF;

}

.glossarypost {
    border-collapse: separate;
    text-align: justify;
}



#middle-column body {
       font-family: verdana;
       font-size: 1.2em;
       color: #666;
       background-color: #F1F2F1;

}


#middle-column div{
       font-family: verdana;
       font-size: 1em;
       color: #666;
}

p{
	color: #333;
}

ul{
	color: #333;
}
li{
	color: #333;
}

#middle-column h1{
color: #A72805;
font-size: 1.5em;
font-weight: bold;
}

div h1 {
color: #A72805;
font-size: 1.5em;
font-weight: bold;
}

h3 .nolink{
color: #A72805;
font-size: 1.2em;
font-weight: bold;
float: left;
}

.concept{
padding-left: 10px;
color: #FFF;
font-size: 1.2em;
}

#middle-column h2{
color: #692F1B;
font-size: 1.3em;
font-weight: bold;
}











#middle-column .activity {
    background-color: #fff;
}

#middle-column .activity  a:link span{
    color: #333;
    text-decoration: none;
}
#middle-column .activity  a:hover span{
    color: #692F1B;
    text-decoration: underline;
}
#middle-column .activity  a:visited span{
   color: none;
}

a.autolink {
    background-color: #FFF;
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
}
a.autolink:hover {
    color: #692F1B;
    text-decoration: underline;
}

a{
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
}
a:visited {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #692F1B;
    text-decoration: none;
}


#page{
    background-color: #EFEFEF;
}
.generalbox{
   background-color: #FFF; 
}

.glossarycategoryheader {
    background-color: #A72805;
}


.tabla_plan_modulo {
	background-color: #A72805;
	color: #FFF;
}

.tabla_plan_submodulo {
	background-color: #692F1B;
	color: #FFF;
}

.tabla_plan {
	background-color: ##EFEFEF;
	color: #333;
}
