.wtHolder {
  width: auto !important;
  height: auto !important;
}

.wtHider {
  padding: 0 5px 5px 0;
}
.ht_clone_top, .ht_clone_left, .ht_clone_top_left_corner {
  z-index: 1 !important;
}
.tab-content{
    overflow-x:auto !important;
}
.handsontable-container {
  overflow-x: auto;
}
.handsontableInput{
    width: 65px !important;
}
.handsontable th span.ht_nestingLevel_empty{
    width: unset !important;
}
.handsontable .htDimmed{
    color: #4c4c4c !important;
}
