.page{
    font: 16px Arial;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.header_title{
    font: 16px Arial;
    font-weight: bold;
    text-align: center;
}
p.header_paragraph{
    font: 16px Arial;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
p.p_date{
    font: 16px Arial;
    text-align: right;
    padding-bottom: 30px;
}
p{
    font: 16px Arial;
    text-align: justify;
    line-height : 20px;
}
ol.letters{
    list-style-type: lower-latin;
    padding-left: 10px;
}
h4.title_2{
    font: 16px Arial;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
span.center_name{
    text-transform: uppercase;
}
span.student_name{
    text-transform: capitalize;
}
span.tutor_name{
    text-transform: capitalize;
}
span.center_name_sign{
    text-transform: capitalize;
}
div.sign{
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    margin-top: 60px;
}

.responsible_margin{
    display: block;
}
.sign_marc, .sign_center{
    width: 50%;
    /*display: inline-block;*/
}

.sign_student{
    width: 20%;
    margin-right: 10%;
    margin-left: 10%;
}

.sign_tutor, .sign_formation_isep{
    width: 20%;
    margin-right: 10%;

}
.sign_formation_isep{
    text-align: center;
}
