requests==2.25.1
pillow==10.40.0
#TOTALMENTE NECESARIOS EN ESA VERSION.
PyPDF2==3.0.1   #La version mas actualizada de PyPDF2 no influye en el funcionamiento del sistema y los reportes.
pytesseract==0.3.13
opencv-python==4.10.0.84
openai==0.28.0