<?xml version="1.0" encoding="utf-8"?>
<odoo>
        
    <menuitem id="menu_google_ads_root"
        name="Google Ads"
        parent="crm.crm_menu_config"
        sequence="30"
    />

    <menuitem id="menu_google_forms_root"
        name="Forms"
        parent="menu_google_ads_root"
        action="action_isep_google_forms_menu"
        sequence="22"
    />

    
        
    <menuitem id="menu_google_leads_root"
        name="Log Leads"
        parent="menu_google_ads_root"
        action="action_portal_leads_menu"
        sequence="23"/>


</odoo>
