form[action*='/forum/'] {
    .note-editor,
    .note-editor.note-frame,
    .note-editor.note-airframe {
        background-color: #fdfefe;
    }

    .note-editor .note-editable,
    .note-editor .note-editable.panel-body,
    .note-editor textarea,
    textarea[name='content'],
    textarea[name='description'],
    textarea {
        background-color: #fdfefe !important;
    }

    .note-editor .note-editable:focus,
    textarea[name='content']:focus,
    textarea[name='description']:focus,
    textarea:focus {
        background-color: #ffffff !important;
    }
}
