// custom_report_style.scss

.container {
    // Custom overrides for the container class applied to the body
    padding-right: 0 !important;
    padding-left: 0 !important;
}

// If you're using other frameworks like Bootstrap, override container-fluid as well
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

